/* VARIABLES */
:root{
    --alegreya-font: 'Alegreya Sans SC', sans-serif;
    --lato-font: 'Lato', sans-serif;
    --roboto-font: 'Roboto Slab', serif;
    --grey-color: #747474;
    --darkblack-color: #272727;
    --lightblack-color:#4f4f4f;
    --cleanwhite-color: #f4f4f4;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL Selector */
* {
    box-sizing: border-box; /*when i give an item a width, i want the margin to be applied with the width, no addition */
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid grey; */
}
html{
    font-size: 62.5%;
    width: 100%;
    /* background-color: var(--cleanwhite-color); */
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
    width: 100%;
    /* background-color: var(--lightblack-color); */
    font-family: 'Open Sans', sans-serif;
    /* border: 4px double black; */
}
header{
    width: 90%;
    margin: 0 auto;
    /* border: 5px double black; */
    background-color: var(--lightblack-color);
    box-shadow: 0px 0px 3px 2px var(--grey-color);
    border-bottom: 2px solid var(--darkblack-color);
}
nav {
    width: 100%;
    padding-left: 1%;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 3.5rem;
}
h1, h2, h3{
    font-family: var(--roboto-font);
}
p{
    font-size: 2rem;
    font-family: var(--lato-font);
}
a{
    font-size: 1.8rem;
    text-decoration: none;
    font-family: var(--alegreya-font);
}
/* Helping Class */
.bgimg{
    background-size: cover;
    background-repeat: no-repeat;
}
.one{
    order: 1;
}
.two{
    order:2;
}
.three{
    order:3;
}

/* Header Selectors */
.links{
    padding: 0 0 1.5% 3%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}
.links a{
    width: 10%;
    padding: 0.5% 0;
    border: 1px solid var(--darkblack-color);
    border-top-width: 5px;
    border-bottom-width: 5px;
    font-weight: 600;
    background-color: var(--lightblack-color);
    color: var(--cleanwhite-color);
}
.links a:first-child{
    border-left-width: 5px;
}
.links a:last-child{
    border-right-width: 5px;
}

/* Main Selectors */
.main-container{
    width: 89.5%;
    margin: 0 auto;
    padding: 1% 1% 0 1%;
    border: 2px solid var(--darkblack-color);
    background-color: var(--darkblack-color);
}

/* Top Selectors */
.top-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-container div{
    width: 49%;
    margin: auto 0;
}
.top-container .top-image{
    display: flex;
    align-items: center;
}
.top-container .top-image img{
    width: 100%;
}
.top-container .top-text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 5%;
    margin-bottom: 0;
}
.top-container .top-text div{
    width: 100%;
    color: var(--cleanwhite-color);
}
.top-container .top-text div h2{
    max-width: 100%;
}
.top-container .top-text div button{
    width: 40%;
    padding: 10px 0;
    margin: 5% 0;
    background-color: var(--lightblack-color);
    font-size: 2rem;
    font-family: var(--alegreya-font);
    color: var(--cleanwhite-color);
}

/* Gallery Selectors */
.gallery-container{
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-container div{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
    color: var(--cleanwhite-color);
}
.gallery-container div img{
    width: 100%;
    background-color: transparent;
}
.gallery-container div p{
    padding: 10px 0;
}

/* Footer Selectors */
footer{
    width: 90%;
    margin: 0 auto;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cleanwhite-color);
    background-color: var(--lightblack-color);
}
footer div button{
    width: 50%;
    padding: 5%;
    margin-top: 3%;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--alegreya-font);
    color: var(--darkblack-color);
    background-color: var(--cleanwhite-color);
}

@media (max-width: 800px){
    body{
        line-height: 1.1;
    }
    h2{
        font-size: 3.5rem;
    }
    header nav h1{
        text-align: center;
    }
    nav .links{
        padding: 0;
        justify-content: center;
    }
    nav .links a{
        width: 25%;
    }
    .top-container .top-image{
        margin: 0;
        align-items: flex-end;
    }
    .top-container .top-text{
        padding: 0 3%;
    }
    .top-container .top-text div button{
        width: 50%;
        padding: 10px 10px;
    }
}

@media (max-width: 500px){
    header{
        padding: 5% 0;
    }
    h1{
        font-size: 6rem;
    }
    nav .links{
        margin-top: 2%;
        flex-flow: column;
        justify-content: center;
    } 
    nav .links a{
        border: 4px solid var(--darkblack-color);
        width: 33.3%;
        padding: 10px;
    }
    .top-container div{
        width: 100%;
    }
    .top-container .top-text div{
        margin-top: 3%;
        text-align: center;
    }
    .gallery-container div{
        width: 49%;
    }
}